{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <!-- <link rel="stylesheet" href="{% static 'FUTUREapp/css/blog.css' %}"> -->
     <link rel="stylesheet" href="{% static 'FUTUREapp/css/blog.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

    <div class="top-bar">
        <div class="container flex-between">
            <div class="top-left">
                <span> United States <i class="fa fa-caret-down"></i></span>
                <span class="ml-20">Sign Up</span>
            </div>
            <div class="top-right">
                <span><i class="fa fa-phone"></i> Call : +1234567890</span>
                <span class="ml-20"><i class="fa fa-envelope"></i> demo@gmail.com</span>
            </div>
        </div>
    </div>

    <header class="hero">
        <nav class="navbar">
            <div class="container flex-between">
                <div class="logo">
    <div class="logo-icon">
        <i class="fas fa-plane-departure"></i>
    </div>
    <div class="logo-text">
        <span class="main-logo">Travel Blog</span>
        <span class="sub-logo">Place Explorer</span>
    </div>
</div>
                <ul class="nav-links">
                    <li><a href="/" class="active">HOME</a></li>
                    <li><a href="/about"class="active">ABOUT</a></li>
                    <li><a href="/places"class="active">PLACES</a></li>
                    <li><a href="/blog"class="active">BLOG</a></li>
                    <li><a href="/contact"class="active">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    <section class="places-section">
        <h2>BLOG</span></h2>
        <div class="underline"></div>
        <div class="places-container">
            <!---place1--->
        <div class="place-card">
            <img src="https://cdn.britannica.com/37/189837-050-F0AF383E/New-Delhi-India-War-Memorial-arch-Sir.jpg"alt="place">
            <div class="place-content">
                <h3>Delhi 🏛️</h3>
                <small>India</small>
                <p>Delhi,the capital of India.It is home to famous landmarks like India Gate, Red Fort, and Qutub Minar, blending ancient heritage with modern city life. .</p>
                <a href="#"class="btn">Read More</a>
                </div>
        </div>  
            <!---place2--->
        <div class="place-card">
            <img src="https://img.freepik.com/free-photo/eiffel-tower-with-bridge-river-seine-paris-france_649448-4968.jpg"alt ="place">
            <div class="place-content">
                <h3>Paris 🗼</h3>
                <small>France</small>
                <p>Paris, the capital of France, is one of the world’s most visited tourist destinations, known for its romantic atmosphere, iconic landmarks, and rich cultural heritage.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
            <!---place3-->
        <div class="place-card">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/a2/18/ae/london-eye.jpg?h=700&s=1&w=1200"alt="place">
            <div class="place-content">
                <h3>Londan 🎡</h3>
                <small>England</small>
                <p> London, the capital of England, is a vibrant city where history meets modern life.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
          <!---place4--->
        <div class="place-card">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2e/1e/cape-town.jpg?h=1400&s=1&w=1400"alt="place">
            <div class="place-content">
                <h3>Cape Town ⛰️</h3>
                <small>South Africa</small>
                <p>Cape Town, located on the southwestern coast of South Africa, is a stunning city famous for its natural beauty.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
          <!---place5--->
        <div class="place-card">
            <img src="https://lp-cms-production.imgix.net/2020-11/500pxRF_241509159.jpg"alt="place">
            <div class="place-content">
                <h3>Bangkok 🛕</h3>
                <small>Thailand</small>
                <p> Bangkok, the capital of Thailand, is a bustling city famous for its vibrant street life and rich culture.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
         <!---place6--->
         <div class="place-card">
            <img src="https://images.unsplash.com/photo-1505761671935-60b3a7427bad"alt="place">
            <div class="place-content">
                <h3>Tuscany ⛪</h3>
                <small>Italy</small>
                <p>Tuscany is a beautiful region in central Italy famous for its rolling hills, historic towns, and rich art heritage. </p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
        </div>
    </section>

</body>
</html>