{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="{% static 'FUTUREapp/css/places.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

    <div class="top-bar">
        <div class="container flex-between">
            <div class="top-left">
                <span> United States <i class="fa fa-caret-down"></i></span>
                <span class="ml-20">Sign Up</span>
            </div>
            <div class="top-right">
                <span><i class="fa fa-phone"></i> Call : +1234567890</span>
                <span class="ml-20"><i class="fa fa-envelope"></i> demo@gmail.com</span>
            </div>
        </div>
    </div>

    <header class="hero">
        <nav class="navbar">
            <div class="container flex-between">
                <div class="logo">
    <div class="logo-icon">
        <i class="fas fa-plane-departure"></i>
    </div>
    <div class="logo-text">
        <span class="main-logo">Travel Blog</span>
        <span class="sub-logo">Place Explorer</span>
    </div>
</div>
                <ul class="nav-links">
                   <li><a href="/" class="active">HOME</a></li>
                    <li><a href="/about"class="active">ABOUT</a></li>
                    <li><a href="/places"class="active">PLACES</a></li>
                    <li><a href="/blog"class="active">BLOG</a></li>
                    <li><a href="/contact"class="active">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    <section class="places-section">
        {% for place in places %}

        <h2>Places</span></h2>
        <div class="underline"></div>
    <div style="text-align:right; margin-bottom:20px;">
          <a href="{% url 'place_create' %}" class="btn">Add New Place</a>
    </div>
        <div class="places-container">
            <!---place1--->
        <div class="place-card">
        <img src="{{ place.image.url }}" alt="place">

        <div class="place-content">
            <h3>{{ place.title }}</h3>
            <small>{{ place.location }}</small>
            <p>{{ place.description }}</p>

            <div class="btn-group">
                <a href="{% url 'place_update' place.id %}" class="btn">Edit</a>
                <a href="{% url 'place_delete' place.id %}" class="btn book">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
        </div>
    </section>
    </header>
